* {
    padding: 0;
    margin: 0;
    font-style: normal;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --main-purple:#560BAD;
}

body button{
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* mobile view */

@media screen and (min-width: 320px) {
    .navBar {
        margin-top: 1.5rem;
        padding: 0 1rem;
        display: flex;
    }
    .menuBar{
        margin-top: .2rem;
        margin-left: auto;
    }
    .earnMonPromoting{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .earnMoney{
        margin-top: 2.8rem;
        font-weight: 500;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -0.02em;
        color:#212121;
        width: 95%;
    }
    .earn{
        color: var(--main-purple);
    }
    .partnerWith{
        margin-top: 1rem;
        color: #424242;
        font-weight: 400;
        width:63%;
        left: 52px;
        height: 89px;
        line-height: 157%;
        font-size: 14px;        
    }
    .twoButtons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    .becomeBtn{
        width: 14.9rem;
        display: flex;
        flex-direction: row;
        background-color:var(--main-purple) ;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 16px 50px;
        margin-top: 1rem;
        font-weight: 600;
        gap:10px;
        line-height: 188%;
    }
    .seehowBtn{
        width: 14.9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color:var(--main-purple) ;
        font-weight: 600;
        font-size: 16px;
        border: 1px solid var(--main-purple);
        background-color: #FFFFFF;
        padding: 14px 30px;
        border-radius: 4px;
        line-height: 188%;
    }
    .earnPlusImage{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .boxImage{
        margin:5rem auto;
        align-items: center;
        justify-content: center;
        position: relative;
        display: inline-block;
    }
    .chart{
        margin-top: -3rem;
        position: absolute;
        margin-left: 13rem;
        z-index: 1;
    }
    .smilingGirl2{
        z-index: -1;
        width:270px;
    }
    .monthlyEarn{
        background-color:#7E3CC9; ;
        border-radius: 13.72px;
        padding: 10px 10px 15px 10px;
        text-align: start;
        display: flex;
        flex-direction: row;
        width:58%;
        color: #FFFFFF;;
        font-weight: 400;
        font-size: 9.59px;
        line-height: 15px;
        position: absolute;
        z-index: 999;
        top: 60.3%;
        left: -13%;
    }
    .monthlyEarn span{
        margin-left: 0.5rem;
    }
    .monthlyEarn b{
        margin-right: 1rem;
    }
    .logoBox{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1rem;
    }
    .whyAffiliates{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        position: relative;
        line-height: 150%;
        color: #000000;
        margin-top: 5rem;
        width: 60%;
        left: 20%;
    }
    .whyAffiliatesPerks{
        border-radius: 8px;
        padding: 15px 20px 20px;
        margin: auto;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .manOnMoneyImage{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        background-color: white;
    }
    .manOnMoneyBold {
        font-weight: 700;
        font-size: 16px;
        line-height: 138%;
        padding-bottom: 00.5rem;
    }
    .manOnMoneyNote{
       font-weight: 400;
       font-size: 14px;
       line-height: 150%;
    }
    .howItWorksDiv{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;text-align: center;
        flex-direction: column;
        margin-top: 5rem;
        line-height: 150%;
    }
    .howItWorks{
        margin-top: 5rem;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }
    .signUp{
        font-weight: 700;
        font-size: 16px;
        margin-top: 2rem;
    }
    .freeAndEasy{
        font-size: 14px;
        font-weight: 400;
        top:2290px;
        margin-top: 1rem;
        width: 68%;
    }
    .btn{
        width: 14.9rem;
        display: flex;
        background-color:var(--main-purple) ;
        border: none;
        color: white;
        border-radius: 4px;
        padding: 16px 50px;
        margin-top: 3rem;
        font-weight: 600;
        line-height: 188%;
    }
    #becomeAffiliateBtn{
        margin-top: 3rem;
        width: 17rem
    }
    .getStartedBtn{
        display: flex;
        justify-content: center;
    }
    .manOnTieDiv{
        background-color: #F6FAFD;
        margin-top: 4rem;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }
    .manOnTieDiv2{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .manOnTieDiv2 img{
        width: 360px;
    }
    .achievements{
        text-align: center;
        background-color:#FDF0CC ;
        color: #251C29;
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        width:87%;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    .achievements span{
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        font-weight: bold;
    }
    .achievements p{
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
    }
    .numberOfAffiliates{
        width:80%;
    }
    .disruptingNigeria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .disruptingNigeria p{
        font-weight: 600;
        font-size: 24px;
        width: 90%;
        margin-top: 1rem;
        line-height: 150%;
        margin-left: 0.8rem;
    }
    .disruptingNigeria span{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-top: 1rem;
        width: 83.9%;
        color: #424242;
    }
    .whatPeopleSay{
        background-color: #FCF4FF;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimony{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .whatPeopleSay p {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        width: 50%;
        text-align: center;
        color:  #222222;
    }
    .whatPeopleSay span {
        color:var(--main-purple) ;
    }
    .ourClients{
        margin-top: 1.2rem;
        line-height:150%;
        font-weight: 400;
        font-size: 14px;
        color: #666666;
        text-align: center;
        width: 65%;
    }
    .clients{
        display: inline-block;
        position: relative;
        margin-top: 2rem;
    }
    .client1{
        background-color: #FFFFFF;
        position: absolute;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        left:5%;
        width: 90%;
        top:85px ;
        padding: 2rem 0rem 2.5rem 0rem;
        z-index: 999;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    }
    .smilingManImg { 
       position: relative;
       top:20px;
       z-index: 999;
       left:40%;
    }
    .credithubIsMyPreferred {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #444444;
        width:72%;
        text-align: center;
    }
    .musaAhmed{
        margin-top: 1rem;
        font-weight: 600;
        line-height:150%;
        color: #222222;
    }
    .abujaNigeria{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #666666;
        margin-top: 0.5rem;
    }
    .client2{
        position: relative;
        margin-top: 6.2rem;
        left: 10%;
        border: 1.5px solid rgba(102, 102, 102, 0.08);
        filter: drop-shadow(0px 10px 30px rgba(34, 34, 34, 0.35));
        border-radius: 10px;
        box-sizing: border-box;
        color: #66666614;
        background-color:#FCF4FF ;
        border-radius: 10px;
        padding: 20px 15px 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .emileAdefioye{
        color: #222222;
        opacity: 0.5;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-top: 1rem;
    }
    .lagosNigeria{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #666666;
        opacity: 0.5;
    }
    .arrows{
        margin-top: 5rem;
    }
    .arrows img{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .faqs{
        padding-top: 5rem;
        padding-bottom: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faqs span{
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 1rem;
    }
    .faqs p{
        width:66%;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-top: 1rem;
    }
    .allQuestions{
        width:90%;
        align-items: flex-end;
    }
    .questions{
        display: flex;
        text-align: left;
        margin-top: 2rem;
    }
    .questions button{
        width: 100%;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 150%;
        border: none;
        outline: none;
        align-items: center;
        display: flex;
        text-align: left;
        background-color: white;
        padding: 1rem;
    }
    .questions img{
        margin-left: auto;
    }
    .btnDiv{
        width: 80%;
    }
    .active, .questions :hover{
        background-color: #ccc;
    }
    .panel{
        padding: .5rem 1rem;
        display: none;
        overflow: hidden;
        text-align: left;
        font-size: 12px;   
    }
    .footer{
        padding-top: 3rem;
        padding-bottom: 2rem;
        background-color: #FAFAFA;
    }
    .footer a{
        color:#000000;
    }
    .textandLogo{
        margin-left: 2rem;
    }
    .footer ul{
        margin-left: 2rem;
        list-style-type: none;
    }
    .footer li{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-top: 1.5rem;
    }
    .footerIcons {
        margin-top: 2rem;
        margin-left: 0.5rem;
    }
    .footerIcons img{
        margin-left: 1rem;
    }
    .copyright{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-top:1rem ;
        margin-left: 2rem;
    }
    .secondHalfTitle{
        display: none;
    }
    .navButton{
        display: none;
    }
    .for{
        display: none;
    }
    .yellowNotification{
        display: none;
    }
    .getStartedDesktop{
        display: none;
    }
}

/* Desktop view */
@media screen and (min-width:1024px){
    .navBar{
        margin: 0;
        padding: 0.5rem 3rem;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
    }
    .navBar a{
        text-decoration: none;
        font-weight: 400;
        line-height: 30px;
        color: #000000;
        margin-left: 0.8rem;
    }
    .for{
        margin-left: 4rem;
        color: #212121;
        display: block;
    }
    .anAffiliate {
        padding: 10px 32px;
        border-radius: 4px;
        border: none;
        background-color: var(--main-purple);
        color: #FFFFFF;
        font-weight: 600;
    }
    .loginBtn{
        padding: 8px 30px;
        font-weight: 600;
        color: var(--main-purple);
        border: 1px solid #560BAD;
        border-radius: 4px;
    }
    .menuBar{
        display: none;
    }
    .secondHalfTitle{
        margin-left: auto;
        display: block;
        color: #000000;
        padding-right: 3rem;
    }
    .navButton{
        display: block;
    }
    .earnPlusImage{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .earnMonPromoting{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5rem;
        width: 90%;
    }
    .earnMoney{
        margin-left: 0;
        width: 60%;
        text-align: start;
        font-weight: 600;
    }
    .earn{
        font-style: oblique;
    }
    .partnerWith{
        text-align: start;
        width: 67%;
    }
    .twoButtons{
        display: flex;
        flex-direction: row;
    }
    .becomeBtn{
        margin-top: 0rem;
        padding: 16px 32px;
    }
    .seehowBtn{
        padding: 11.6px 30px;
    }
    .boxImage{
        margin-left: auto;
    }
    .smilingGirl{
        display: none;
    }
    .chart{
        width:140px;
        margin-left: 4rem;
    }
    .monthlyEarn{
        font-size: 14px;
        line-height: 120%;
        padding: 15px 3px 15px 12px;
        width:100%;
        top: 65%;
        left: -45%;
    }
    .monthlyEarn b{
        font-size: 18px;
    }
    .yellowNotification{
        display: block;
        width:40px;
    }
    .purpleNotification{
        display: none;
    }
    .smilingGirl2{
        display: block;
        width: 350px;
        margin-left: -5rem;
    }
    .logoBox{
        justify-content: space-around;
        padding: 0 17rem;
    }
    .whyAffiliates{
        font-weight: 700;
        font-size: 30px;
        margin: 10rem 0rem 3rem 0rem;
    }
    .allPerks{
        display: flex;
        margin: 0rem 3rem 0rem 3rem;
    }
    .whyAffiliatesPerks{
        width: 28%;
    }
    .manOnMoneyBold{
        font-weight: 700;
        font-size: 26px;
    }
    .howItWorks{
        font-weight: 700;
        font-size: 30px;
        margin-top: 8rem;
    }
    .howItWorksDiv{
        padding: 0rem 3rem;
    }
    .callToAction{
        display: flex;
    }
    .signUp{
        font-size: 20px;
    }
    .freeAndEasy{
        font-size: 15px;
        width: 90%;
    }
    #becomeAffiliateBtn{
        padding: 16px 0px 16px 50px;
    }
    .manOnTieDesktopView{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 3rem 0rem ;
    }
    .disruptingNigeria{
        width:40%;
        margin-top: 3rem;
    }
    .disruptingNigeria p {
        font-weight: 700;
        font-size: 29px;
        line-height: 117%;
    }
    .disruptingNigeria span {
        font-size: 16px;
        line-height: 150%;
        width:89%;
    }
    .manOnTieDiv2 img{
        width: 400px;
    }
    .achievements{
        width:87%;
        padding: 2rem 0rem ;
    }
    .numberOfAffiliates span{
        font-weight: 800;
    }
    .getStartedBtn{
       display: none;
    }
    .getStartedDesktop{
        display: block;
        margin: -1rem 13rem 0rem 0rem;
    }
    .faqs{
        width: 80%;
    }
    .faqs span{
        font-weight: 700;
        font-size: 30px;
    }
    .faqs p{
        width: 52%;
        font-size: 17px;
    }
    .allQuestions{
        width: 55%;
    }
    .faqSection{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .questions button{
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
    }
    .clientTestimonies{
        display: flex;
        padding: 2rem 10rem 0rem 10rem;
    }
    .testimony{
        align-items: flex-start;  
        margin: 3rem auto;
    }
    .testimony p{
        margin-top: 3rem;
        text-align: start;
        font-weight: 700;
        font-size: 25px;
    }
    .ourClients{
        text-align: start;
        width: 80%;
    }
    .clients{
        margin-top: 1rem;
        width:65%;
    }
    .client2{
        margin-top: 7.5rem;
    }
    .smilingManImg{
        left:1%;
        top: 40px;
    }
    .credithubIsMyPreferred{
        text-align: start;   
    }
    .footer{
        display: flex;
    }
    .footer ul{
        height: 14rem;
        width: 45rem; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        line-height: .1rem;
        margin-top: -1rem;
        text-align: start;
        margin-left: 8rem;
    }
    .footerIcons{
        margin-top: 0rem;
    }
    .iconAndCopyright{
        margin-right: auto;
    }
}