*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}  

.container{
    width: 100%;
    height: 100vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 334px;
    height: fit-content;
    margin: 0px auto;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 30px;
    margin-top: 30px; 
}
.menu-btn{
    background-color: inherit;
    border: none;
}
.content {
    margin-bottom: 20px;
    text-align: left!important;
}

.content h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
    text-align: left!important;
}
.input{
    width: 334px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}
    
input{
    margin: 8px 0px;
    height: 45px;
    border-radius: 10px;
    background: #f6f6f6;
    border: none;
    width: 100%;
    font-weight: 400;
    
    
}
input[type=text]{
    padding-left: 10px;
    width: inherit;
}

input[type=email]{
    padding-left: 10px;
    width: inherit;
}

input[type=]{
    padding-left: 10px;
    width: inherit;
}
::placeholder{
    /*Chrome. Firefox. Opera, Safari 10.1+ */
    color: #605d5de4;
    padding-left: 16px;
}
.brief{
    height: 148px;
    width: inherit;
}
label{
    width: 220px;
    font-size: 14px;
    font-weight: 400;
}
.btn{
    width: 239px;
    height: 58px;
    border-radius: 5px;
    background-color: #560BAD;
    font-size: 16px;
    padding: 16px 32px;
    border: none;
    color: #ffffff;
    margin: 20px auto;
    margin-bottom: 50px;
} 

.upload-container input {
    background-image: url("images/Upload_light.png");
    background-repeat: no-repeat;
}


.menu-container{
    position: absolute;
    background-color: inherit;
    /* display: flex; */
    /* flex-direction: column;
    justify-items: space;
    align-items: center; */
    height: 100vh;
    width: 100%;
    top: 0;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 30px;
    margin-top: 30px; 
}
.menu-header .logo-close{
   background-color: inherit;
   border: none;
}
.menu-container{
    display: none;
    position: fixed;
    background-color: #F6F6F6;
}
.menu-container .menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu li{
    list-style: none;
    text-align: center;
    padding: 16px 0px;
    font-weight: 400px;
    height: 21px;
    margin: 18px;
}

.get-btn input{
    width: 187px;
    background-color: #560BAD;
    height: 58px;
    left: 94px;
    top: 361px;
    color: #f6f6f6;
    font-size: 16px;
    font-weight: 600;
}
.log-button input{
    height: 58px;
    width: 137px;
    border: 1px solid #560BAD;
    font-size: 16px;
    font-weight: 600;
    color: #560BAD;
}
.btoon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 375px) {
    .form-container {
        padding: 0px 30px;
    }
    .content{
        margin-left: -30px;
    }
    .btoon .log-button{
        width: 137px;
    }
}

